@font-face {
    font-family: 'meteocons';
    src: local('meteocons'),
        url(./core/fonts/meteocons/fonts/meteocons.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: 'material-design';
    src: local('material-design'),
        url(./core/fonts/material-design-icons/MaterialIcons-Regular.woff2)
            format('woff2');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: 'inter';
    src: local('inter'),
        url(./core/fonts/inter/Inter-italic.var.woff2) format('woff2');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: 'Roboto-Regular';
    src: local('Roboto-Regular'),
        url(./core/fonts/roboto/Roboto-Regular.ttf) format('truetype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: 'feather';
    src: local('feather'),
        url(./core/fonts/feather/fonts/feather.woff) format('woff');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
    margin: 0;
    font-family: 'Rajdhani', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    color: #060039 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 800 !important;
    letter-spacing: 1.2px;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 1.8rem !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
